.home {
  &__projects {
    @extend %padding-home;

    margin-bottom: 9.6rem;

    &__line {
      position: relative;
      display: inline-block;
      width: 100%;
      visibility: hidden;
      span {
        height: 2px;
        background: $col-boulder;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        display: inline-block;
        transform-origin: left top;
      }

      &.right {
        span {
          transform-origin: right top;
        }
      }
    }
  }
}
