%padding-home {
  padding-left: 4rem;
  padding-right: 4rem;

  @include media("<=phone") {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
  }
}

.home {
  padding: 2.4rem 0;

  @include media(">=tablet") {
    padding-bottom: 0;
  }

  // visibility: hidden;
}
